SistemaGestionCEM.Negocio/Service References/ws_estado_alumnos/WebServiceCEM.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WebService/" targetNamespace="http://WebService/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="obtenerEstadoAlumnos" type="tns:obtenerEstadoAlumnos" />
  <xs:element name="obtenerEstadoAlumnosResponse" type="tns:obtenerEstadoAlumnosResponse" />
  <xs:complexType name="obtenerEstadoAlumnos">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombreAlumno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoAlumno" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerEstadoAlumnosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alumno">
    <xs:sequence>
      <xs:element name="codigoAlumno" type="xs:int" />
      <xs:element minOccurs="0" name="nombreAlumno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoAlumno" type="xs:string" />
      <xs:element minOccurs="0" name="estadoAlumno" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>