SistemaGestionCEM.Presentacion/Service References/WS_Autentificacion/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Autentificacion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SistemaGestionCEM.Datos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAutentificacion_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IAutentificacion_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAutentificacion_Registro_InputMessage">
    <wsdl:part name="parameters" element="tns:Registro" />
  </wsdl:message>
  <wsdl:message name="IAutentificacion_Registro_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistroResponse" />
  </wsdl:message>
  <wsdl:portType name="IAutentificacion">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutentificacion/Login" message="tns:IAutentificacion_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutentificacion/LoginResponse" message="tns:IAutentificacion_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Registro">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutentificacion/Registro" message="tns:IAutentificacion_Registro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutentificacion/RegistroResponse" message="tns:IAutentificacion_Registro_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAutentificacion" type="tns:IAutentificacion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IAutentificacion/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registro">
      <soap:operation soapAction="http://tempuri.org/IAutentificacion/Registro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Autentificacion">
    <wsdl:port name="BasicHttpBinding_IAutentificacion" binding="tns:BasicHttpBinding_IAutentificacion">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SistemaGestionCEM.Negocio/Autentificacion/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>