SistemaGestionCEM.Presentacion/Service References/WS_Alumno/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SistemaGestionCEM.Datos" />
  <xs:element name="ListarProgramasPublicados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProgramasPublicadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SistemaGestionCEM.Datos" minOccurs="0" name="ListarProgramasPublicadosResult" nillable="true" type="q1:ArrayOfPROGRAMA_ESTUDIO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>